<div
    class="modal fade"
    id="modal-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    #modal
>
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title fs-5" id="staticBackdropLabel">
                    {{ title }}
                </span>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="_closeModal(false)"
                ></button>
            </div>

            <div class="modal-body">
                <ng-content select="[modal-form]" />
            </div>

            <div class="modal-footer justify-content-center">
                <ng-content select="[modal-actions]" />
            </div>
        </div>
    </div>
</div>
