<div class="details">
    <a class="form-check-label" (click)="openScenario(scenario)">
        {{ scenario.name }}
    </a>

    <div class="actions">
        <button
            id="delete_{{ scenario.id }}"
            style="margin-top: 0.25rem"
            class="btn btn--action action"
            type="button"
            value="Delete"
            (click)="onDeleteScenario(scenario.id)"
        >
            <span class="icon icon-delete" aria-hidden="true"></span>
        </button>
    </div>
</div>
