<div class="d-flex justify-content-between align-items-center">
    <span class="form-check-label" (click)="openScenario(scenario.id)">
        {{ scenario.name }}
    </span>

    <div class="d-flex">
        <button
            id="duplicate_{{ scenario.id }}"
            style="margin-top: 0.25rem"
            class="btn btn--action action"
            type="button"
            value="Duplicate"
            (click)="onDuplicateScenario(scenario.id)"
        >
            <span class="icon icon-duplicate" aria-hidden="true"></span>
        </button>

        <button
            id="delete_{{ scenario.id }}"
            style="margin-top: 0.25rem"
            class="btn btn--action action"
            type="button"
            value="Delete"
            (click)="onDeleteScenario(scenario.id)"
        >
            <span class="icon icon-delete" aria-hidden="true"></span>
        </button>
    </div>
</div>
