.scenario-item {
    height: 30px;

    .__actions {
        display: none;

        .copy span {
            color: var(--bs-primary);
        }
        .delete span {
            color: var(--bs-danger);
        }

        gap: 5px;
    }

    &:hover {
        .scenario_item {
            background: var(--bs-primary-bg-subtle) !important;
        }
        .__actions {
            display: flex;
        }
        .property {
            display: none;
        }

        .title {
            color: var(--bs-primary);
        }
    }
}
