button :disabled,
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    opacity: 20% !important;
    background-color: gray;
    color: black !important;
}

.alert {
    margin: unset;
    padding: unset;
}
