<div
    class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5"
    tabindex="-1"
    role="dialog"
    id="modalTour"
>
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body d-flex row gap-3">
                <ng-container *ngIf="scenarioCount; else no_data">
                    <h2 class="fw-bold mb-0">Total: {{ scenarioCount }}</h2>
                    <ul
                        class="d-grid gap-4 my-5 list-unstyled small simulations"
                    >
                        <li
                            class="d-flex gap-4"
                            *ngFor="let item of scenarioList"
                            style="justify-content: space-evenly"
                        >
                            <!-- <svg
                            class="bi text-body-secondary flex-shrink-0"
                            aria-hidden="true"
                        > -->
                            <div style="width: 70px">
                                <div
                                    class="spinner-border text-primary"
                                    style="width: 3rem; height: 3rem"
                                    role="status"
                                    *ngIf="item.status === 'Started'"
                                >
                                    <span class="visually-hidden"
                                        >Loading...</span
                                    >
                                </div>

                                <div *ngIf="item.status === 'Canceled'">
                                    <img
                                        src="../../../../../static/assets/icons/feather/black/x.svg"
                                        alt=""
                                        *ngIf="item.status === 'Canceled'"
                                        class="warn"
                                    />
                                </div>

                                <div *ngIf="item.status === 'Failed'">
                                    <img
                                        src="../../../../../static/assets/icons/feather/black/alert-triangle.svg"
                                        alt=""
                                        *ngIf="item.status === 'Failed'"
                                        class="error"
                                    />
                                </div>

                                <div *ngIf="item.status === 'Finished'">
                                    <img
                                        src="../../../../../static/assets/icons/feather/black/check-circle.svg"
                                        alt=""
                                        *ngIf="item.status === 'Finished'"
                                        class="green"
                                    />
                                </div>
                            </div>

                            <!-- <use xlink:href="#grid-fill"></use> -->
                            <!-- </svg> -->
                            <div
                                (click)="openSimulation(item.id)"
                                style="cursor: pointer"
                            >
                                <h5 class="mb-0">
                                    {{ item.id }}

                                    {{ item.status }}
                                    <b>
                                        {{ item.start_date | date : "short" }}
                                    </b>
                                </h5>

                                <pre></pre>
                                For Support: <b>{{ item.sim_token }}</b>
                            </div>

                            <div
                                style="
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                "
                            >
                                <img
                                    src="../../../../../static/assets/icons/feather/black/stop-circle.svg"
                                    alt=""
                                    class="stop"
                                    *ngIf="item.status === 'Started'"
                                    title="stop"
                                />
                                <img
                                    src="../../../../../static/assets/icons/feather/black/play-circle.svg"
                                    alt=""
                                    class="start"
                                    *ngIf="item.status === 'Stopped'"
                                    title="start"
                                />
                            </div>
                        </li>
                    </ul>
                </ng-container>

                <ng-template #no_data>
                    <h3 class="text-center">No Simulation!</h3>
                </ng-template>

                <button
                    type="button"
                    class="btn btn-lg btn-primary mt-5 w-100"
                    data-bs-dismiss="modal"
                >
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
