<div
    class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5"
    tabindex="-1"
    role="dialog"
    id="modalTour"
    style="overflow: hidden"
>
    <div class="modal-dialog d-flex" style="max-height: 100%">
        <div class="modal-content rounded-4 shadow" style="max-height: 100%">
            <div class="modal-body d-flex row gap-3" style="max-height: 100%">
                <ng-container *ngIf="scenarioCount; else no_data">
                    <h2 class="fw-bold mb-0 text-center">
                        {{ currentScenario.project.name }}
                        /
                        {{ currentScenario.scenario?.name }}
                    </h2>

                    <div
                        class="border border-primary-subtle rounded-3 border-opacity-25 p-2"
                        style="height: 80%"
                    >
                        <ul
                            class="d-grid gap-4 list-unstyled small simulations p-2"
                            style="overflow-y: scroll; max-height: 100%"
                        >
                            <li
                                class="d-flex gap-4"
                                *ngFor="let item of scenarioList"
                                style="justify-content: space-evenly"
                            >
                                <div
                                    style="
                                        width: 70px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    "
                                >
                                    <div
                                        class="spinner-border text-primary"
                                        style="width: 3rem; height: 3rem"
                                        role="status"
                                        *ngIf="
                                            item.status ===
                                            SimulationStatus.STARTED
                                        "
                                    >
                                        <span class="visually-hidden"
                                            >Loading...</span
                                        >
                                    </div>

                                    <img
                                        src="../../../../../static/assets/icons/feather/black/x.svg"
                                        alt=""
                                        class="warn"
                                        *ngIf="
                                            item.status ===
                                            SimulationStatus.STOPPED
                                        "
                                    />

                                    <img
                                        src="../../../../../static/assets/icons/feather/black/alert-triangle.svg"
                                        alt=""
                                        class="error"
                                        *ngIf="
                                            item.status ===
                                            SimulationStatus.FAILED
                                        "
                                    />

                                    <img
                                        src="../../../../../static/assets/icons/feather/black/check-circle.svg"
                                        alt=""
                                        class="green"
                                        *ngIf="
                                            item.status ===
                                            SimulationStatus.FINISHED
                                        "
                                    />
                                </div>

                                <div
                                    (click)="openSimulation(item.id)"
                                    style="cursor: pointer"
                                >
                                    <h5 class="mb-0">
                                        ID:{{ item.id }}
                                        -
                                        <small>
                                            {{
                                                item.start_date | date : "short"
                                            }}
                                        </small>
                                    </h5>

                                    <span>
                                        For Support: <b>{{ item.sim_token }}</b>
                                    </span>
                                </div>

                                <div class="action">
                                    <img
                                        src="../../../../../static/assets/icons/feather/black/stop-circle.svg"
                                        alt=""
                                        class="stop"
                                        *ngIf="
                                            item.status ===
                                            SimulationStatus.STARTED
                                        "
                                        title="stop"
                                        (click)="onStopSimulation(scenarioId)"
                                    />

                                    <img
                                        src="../../../../../static/assets/icons/feather/black/play-circle.svg"
                                        alt=""
                                        class="start"
                                        *ngIf="
                                            item.status ===
                                            SimulationStatus.STOPPED
                                        "
                                        title="start"
                                    />
                                </div>
                            </li>
                        </ul>
                    </div>
                </ng-container>

                <ng-template #no_data>
                    <h3 class="text-center">No Simulation!</h3>
                </ng-template>

                <div>
                    <button
                        type="button"
                        class="btn btn-lg btn-primary w-100"
                        data-bs-dismiss="modal"
                        [routerLink]="['/scenario']"
                    >
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
