<div style="display: flex; justify-content: center; min-height: 3rem">
    <button class="file-upload-button" *ngIf="!fileInfo">
        <input
            type="file"
            #fileInput
            (change)="onFileSelect(fileInput)"
            accept=".csv"
        />
    </button>

    <div class="d-flex align-items-center" *ngIf="fileInfo">
        <span class="file-info">{{ fileInfo.label }}</span>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="clearFileData()"
        ></button>
    </div>
</div>
