.file-info {
    color: #999;
    font-family: Lato;
}

.file-upload {
    display: flex;
    justify-content: center;
    min-height: 3rem;
    border-style: dashed !important;
    position: relative;
    // cursor: pointer;

    .img {
        filter: invert(50%);
    }

    span {
        display: flex;
        align-items: center;
    }

    input[type="file"] {
        // font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    ::-webkit-file-upload-button {
        cursor: pointer;
    }
}
