<app-scenario-setup *ngIf="currentStep == 0" #setup />

<div class="d-flex flex-column h-100">
    <app-scenario-energy-design
        *ngIf="currentStep == 1"
        [currentScenario]="currentScenario"
        #sed
        class="flex-grow-1 overflow-auto"
    />

    <app-scenario-footer
        [step]="currentStep"
        [scenarioData]="currentScenario"
        [isScenarioNew]="isScenarioNew"
        (nextStep)="nextStep()"
        (prevtStep)="prevtStep()"
        (saveScenario)="onSaveScenario()"
        (updateScenario)="onUpdateScenario()"
        (startSimulation)="startSimulation($event)"
        (openSimulations)="openSimulations($event)"
    />
</div>
