::ng-deep input[type="date"]::-webkit-calendar-picker-indicator {
    // background: transparent;
    &:focus {
        outline: none;
    }
}

::ng-deep .fullscreen {
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #fff;

    .system-design {
        height: 100vh;
        width: 100vw;
    }
}
