<ng-container
    *ngIf="scenarioStateService.userModelingState | async as userModelingState"
>
    <div class="d-flex flex-column h-100">
        <app-scenario-setup
            class="flex-grow-1 overflow-auto"
            *ngIf="
                userModelingState.currentStep == UserModelingSTEP.SCENARIO_SETUP
            "
            (saveScenario)="onSaveScenario($event)"
            (updateScenario)="updateScenario($event)"
            #setup
        />

        <app-scenario-energy-design
            *ngIf="
                userModelingState.currentStep ==
                UserModelingSTEP.SCENARIO_MODELING
            "
            #sed
            class="flex-grow-1 overflow-auto"
            (startSimulation)="startSimulation()"
            (updateScenario)="updateScenario($event)"
            (goToSetupPage)="goToSetupPage()"
        />

        <app-scenario-footer
            *ngIf="
                userModelingState.currentStep == UserModelingSTEP.SCENARIO_SETUP
            "
            (nextStep)="saveAndGoToScenarioPage()"
            (prevtStep)="goToSetupPage()"
            (saveScenario)="footerSaveScenario()"
            (updateScenario)="footerUpdateScenario()"
            (startSimulation)="startSimulation()"
            (openSimulations)="openSimulations()"
        />
    </div>
</ng-container>
