<div
    style="
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
    "
    [hidden]="loading.projects"
>
    <!-- action btns -->
    <section class="d-flex mt-3 mb-3 gap-1 justify-content-center p-3">
        <button
            type="button"
            class="btn btn--medium"
            [routerLink]="['../create']"
            aria-label="Create project"
        >
            <img
                src="static/assets/icons/feather/white/plus.svg"
                alt=""
                height="20"
                width="20"
                loading="lazy"
            />
            <span>Create project</span>
        </button>

        <button
            type="button"
            class="btn btn--hollow"
            [routerLink]="['../../templates']"
            aria-label="Browse templates"
        >
            Templates
        </button>
    </section>

    <ng-container *ngIf="project_list && project_list.length >= 0">
        <div class="p-3 overflow-y-auto">
            <div class="row" style="overflow-x: hidden; overflow-y: auto">
                <app-project-item
                    class="col-4 mb-3"
                    *ngFor="
                        let project of project_list;
                        trackBy: trackByProjectId
                    "
                    [project]="project"
                    (deleteProject)="deleteProject($event)"
                    (duplicateProject)="duplicateProject($event)"
                />
            </div>
        </div>

        <section
            class="projects-empty"
            role="status"
            aria-live="polite"
            *ngIf="project_list.length === 0"
        >
            <div>
                <div class="projects-empty__img">
                    <img
                        src="static/assets/illustrations/empty_folder.svg"
                        alt="Empty folder"
                        width="160"
                        height="120"
                        loading="lazy"
                    />
                </div>

                <div class="projects-empty__text">
                    There are no projects yet
                </div>
            </div>
        </section>
    </ng-container>
</div>

<!-- placeholders while loading -->
<div class="row mt-3 mb-3 justify-content-center p-3" *ngIf="loading.projects">
    <div class="col-4">
        <div class="card" aria-hidden="true">
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <a
                    class="btn btn-primary disabled placeholder col-6"
                    aria-disabled="true"
                ></a>
            </div>

            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" aria-hidden="true">
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <a
                    class="btn btn-primary disabled placeholder col-6"
                    aria-disabled="true"
                ></a>
            </div>

            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" aria-hidden="true">
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <a
                    class="btn btn-primary disabled placeholder col-6"
                    aria-disabled="true"
                ></a>
            </div>

            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
