.project__details {
    height: 4rem;
    align-items: center;

    .actions {
        display: none;
    }
}

.project-item {
    cursor: pointer;
    &:hover {
        .project__details .actions {
            display: flex;
        }

        background-color: #1f567d12;
    }
}
