<section class="project d-flex p-2 mb-3" style="align-items: center">
    <div class="dropdown">
        <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="newProjectButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            +
        </button>

        <ul class="dropdown-menu" aria-labelledby="newProjectButton">
            <li class="p-2"><b> Project</b></li>

            <li>
                <a class="dropdown-item" [routerLink]="['../create']">
                    Empty project
                </a>
            </li>

            <li>
                <a class="dropdown-item"> From file </a>
            </li>

            <li>
                <a class="dropdown-item"> From use case </a>
            </li>

            <li><hr class="dropdown-divider" /></li>

            <li class="p-2"><b>Scenario</b></li>

            <li>
                <a class="dropdown-item" href="">Scenario</a>
            </li>

            <li>
                <a class="dropdown-item" href="">From File</a>
            </li>
        </ul>
    </div>
</section>

<app-project-item [project]="project" *ngFor="let project of project_list" />

<section class="projects-empty" *ngIf="!project_list || !project_list.length">
    <div>
        <div class="projects-empty__img">
            <img
                src="./static/assets/illustrations/empty_folder.svg"
                alt="Empty folder"
            />
        </div>

        <div class="projects-empty__text">There are no projects yet</div>
    </div>
</section>
