<div
    class="border border-primary-subtle rounded-3 border-opacity-25 p-2"
    style="max-height: 100%; overflow-y: auto"
>
    <ul
        class="d-grid gap-4 list-unstyled small simulations p-2"
        style="max-height: 100%"
    >
        <li
            class="d-flex gap-4"
            *ngFor="let item of data"
            style="justify-content: space-between"
        >
            <div
                style="
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <div
                    class="spinner-border text-primary"
                    style="width: 3rem; height: 3rem"
                    role="status"
                    *ngIf="item.status === SimulationStatus.STARTED"
                >
                    <span class="visually-hidden">Loading...</span>
                </div>

                <img
                    src="../../../../../static/assets/icons/feather/black/x.svg"
                    alt=""
                    class="warn"
                    *ngIf="item.status === SimulationStatus.STOPPED"
                />

                <img
                    src="../../../../../static/assets/icons/feather/black/alert-triangle.svg"
                    alt=""
                    class="error"
                    *ngIf="item.status === SimulationStatus.FAILED"
                />

                <img
                    src="../../../../../static/assets/icons/feather/black/check-circle.svg"
                    alt=""
                    class="green"
                    *ngIf="item.status === SimulationStatus.FINISHED"
                />
            </div>

            <div (click)="openSimulation(item.id)" class="item">
                <h5 class="mb-0">
                    ID:{{ item.id }}
                    -
                    <small>
                        {{ item.start_date | date : "short" }}
                    </small>
                </h5>

                <span>
                    For Support: <b>{{ item.sim_token }}</b>
                </span>
            </div>

            <div class="action">
                <img
                    src="../../../../../static/assets/icons/feather/black/stop-circle.svg"
                    alt=""
                    class="stop"
                    *ngIf="item.status === SimulationStatus.STARTED"
                    title="stop"
                />
            </div>
        </li>
    </ul>
</div>
