.simulations {
    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .detail {
            cursor: pointer;
        }
    }

    .status {
        width: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

img {
    width: 100%;

    &.green {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
            brightness(119%) contrast(119%);
    }
    &.warn {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(221deg)
            brightness(119%) contrast(1%);
    }
    &.error {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(8deg)
            brightness(119%) contrast(119%);
    }
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    cursor: pointer;

    .stop {
        filter: brightness(0) saturate(100%) invert(13%) sepia(83%)
            saturate(6231%) hue-rotate(360deg) brightness(77%) contrast(111%);
    }
    .start {
        filter: brightness(0) saturate(100%) invert(12%) sepia(76%)
            saturate(7155%) hue-rotate(209deg) brightness(93%) contrast(104%);
    }
}
