.project-setup.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 6rem;
    max-width: 90rem;
    width: 100vw;
}

.project-setup.two-columns .left,
.project-setup.two-columns .right {
    display: flex;
    flex-direction: row;
    // padding-top: 2rem;
}

@media only screen and (min-width: 1250px) {
    .project-setup.two-columns .left,
    .project-setup.two-columns .right {
        flex: 1 1 0;
    }
}

.project-setup.two-columns .left > div,
.project-setup.two-columns .right > div {
    width: 100%;
}

@media only screen and (min-width: 1250px) {
    .project-setup.two-columns .left > div,
    .project-setup.two-columns .right > div {
        max-width: calc(90rem / 2);
    }
}

.project-setup.two-columns .left {
    justify-content: flex-end;
}

.project-setup.two-columns .left > div {
    // padding-left: 1rem;
    // padding-right: 1.5rem;
}

.project-setup.two-columns .left .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    padding-bottom: 1rem;
}

.project-setup.two-columns .left .text .icon-question {
    padding-left: 0.35rem;
    cursor: pointer;
    vertical-align: middle;
}

.project-setup.two-columns .right {
    justify-content: flex-start;
    z-index: 0;
}

.project-setup.two-columns .right > div {
    // padding-right: 1rem;
}

.project-setup.two-columns .right .map {
    margin-left: 1.5rem;
    width: calc(100% - 1.5rem);
    height: 100%;
    background-color: #e3eaee;
}
