<section>
    <div id="wrapper" class="p-3 rounded">
        <div class="loading" [hidden]="!loading.page">
            <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
            ></div>
            <span class="visually-hidden">Loading...</span>
        </div>

        <div class="download-btn" [hidden]="loading.page">
            <button
                class="btn btn-primary"
                title="Download Dump"
                (click)="downloadDump()"
                [disabled]="loading.downloading"
            >
                <img
                    src="static/assets/icons/feather/white/download.svg"
                    alt=""
                    class="btn-icon"
                    [hidden]="loading.downloading"
                />
                <div
                    class="spinner-grow spinner-grow-sm text-primary"
                    role="status"
                    [hidden]="!loading.downloading"
                ></div>
            </button>
        </div>

        <!-- static cards info -->
        <div class="d-flex justify-content-around gap-3 mb-3">
            <div *ngFor="let static of staticList" class="energy-card">
                <ng-container *ngIf="static.items.length > 0">
                    <div class="energy-card__title">
                        <span *ngIf="static.type.toLowerCase() == 'power'">
                            Installed Powers
                        </span>

                        <span *ngIf="static.type.toLowerCase() == 'energy'">
                            Energy Quantities
                        </span>

                        <span
                            *ngIf="
                                static.type.toLowerCase() == 'costs_emissions'
                            "
                        >
                            Emissions and Costs
                        </span>
                    </div>

                    <div class="energy-card__content">
                        <div
                            class="energy-card__row"
                            *ngFor="let item of static.items"
                        >
                            <span>
                                {{ item.name }}
                            </span>

                            <span>
                                {{ item.value }}
                            </span>

                            <span>
                                {{ item.unit }}
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="border-secondary">
            <div id="plotly_div" class="charts-wrapper"></div>
        </div>
    </div>
</section>
