#wrapper {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 255, 140, 0.1);
    padding: 1rem;
}

#header {
    background-color: rgba(130, 255, 140, 0.4);
    border: 1px solid black;
    text-align: center;
    font-size: 12pt;
    padding: 0.5em;
    margin: 5px;
}

.plot_heading {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    padding: 0.5em;
}

.static_table {
    width: 55%;
    margin: auto;
    font-size: 12pt;
    text-align: left;
}

.static_table th {
    border-bottom: 2px black double;
}

.static_table th:last-of-type {
    text-align: center;
    width: 25%;
}

.static_table tr td {
    border-bottom: 1px black solid;
}

.static_table tr td:last-of-type {
    text-align: center;
}

#static_div {
    width: 100%;
    margin: auto;
}

// ::ng-deep svg.main-svg,
// ::ng-deep .plot-container div {
//     width: 100% !important;
// }

// ::ng-deep svg.main-svg {
//     width: 100% !important;
// }

// ::ng-deep .plot-container div {
//     width: 100% !important;
// }

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
