<section class="px-3">
    <p class="h1 text-center p-1">Results Prototyping</p>

    <div id="wrapper" class="p-3 border border-secondary rounded">
        <div class="loading" [hidden]="!loading">
            <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
            ></div>
            <span class="visually-hidden">Loading...</span>
        </div>

        <div
            class="plot_heading border-bottom border-secondary"
            [hidden]="loading"
        >
            <h2>Static</h2>
        </div>

        <div id="static_div" [hidden]="loading">
            <table class="static_table" id="static_table">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
            </table>
        </div>

        <div id="plotly_div" style="width: 100%"></div>
    </div>
</section>
