@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

a.btn,
button.btn,
footer a.btn,
footer button.btn {
    display: inline-block;
    background-color: $primary-color-1;
    color: $white;
    border-radius: $button-border-radius;
    letter-spacing: $letter-spacing-normal;
    font-weight: 400;

    #{$anchor-pseudo-classes},
    .icon#{$anchor-pseudo-classes-active-states} {
        color: $white !important;
    }

    #{$anchor-pseudo-classes-active-state} {
        background-color: $primary-color-1-dark !important;
    }

    &--large {
        padding: 0.925rem;
        width: 100%;
        max-width: 30rem;
        font-size: $font-size-medium;
        text-transform: uppercase;
    }

    &--medium {
        // padding: 0.55rem 0.75rem;
        font-size: $font-size-normal;
        min-width: 11rem;
    }

    &--small {
        padding: 0.4rem 0.75rem;
        font-size: $font-size-small;
    }

    &--filled {
        color: $white !important;
    }

    &--hollow,
    &--transparent,
    &--action {
        background-color: transparent;
        color: $primary-color-1 !important;

        #{$anchor-pseudo-classes} {
            color: $primary-color-1 !important;
        }

        #{$anchor-pseudo-classes-active-state} {
            background-color: $white !important;
        }

        span.icon#{$anchor-pseudo-classes-active-states} {
            color: $white !important;
        }
    }

    &--hollow {
        border: 1px solid $primary-color-1;
    }

    &--transparent {
        font-weight: 700;
    }

    &--action {
        background-color: transparent;
        color: $primary-color-2;
        width: auto;
        padding: 0;

        #{$anchor-pseudo-classes-inactive-state} {
            color: $primary-color-2 !important;
        }

        #{$anchor-pseudo-classes-active-state} {
            color: $primary-color-2-light !important;
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
        }
    }

    &--hollow.btn--action {
        border-color: $primary-color-1;
        color: $primary-color-1 !important;
        font-weight: 700 !important;
    }

    &--load {
        font-weight: 700;
        background-color: transparent;
        color: $primary-color-1;
        width: auto;
        padding: 0;

        #{$anchor-pseudo-classes-inactive-state} {
            color: $primary-color-1 !important;
            background-color: transparent !important;
        }

        #{$anchor-pseudo-classes-active-state} {
            color: $primary-color-1-dark !important;
            background-color: transparent !important;
        }
    }

    &--disabled,
    &:disabled {
        background-color: $disabled-color !important;
    }

    &--pending {
        @include btn-background-color($pending-color);
        color: $black;

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(236, 154, 41, 0.25);
        }
    }

    &--success {
        @include btn-background-color($success-color);
        color: $black;

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(9, 188, 138, 0.25);
        }
    }

    &--error {
        @include btn-background-color($error-color);
        color: $white;

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(154, 3, 30, 0.25);
        }
    }

    .icon {
        padding-right: 0.25rem;
    }

    &--icon::before {
        content: "";
        position: relative;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0.15rem;
        left: -0.5rem;
    }

    &.hidden {
        visibility: hidden;
    }
}

// Dropdown
ul.dropdown-menu {
    box-shadow: $box-shadow-frame;
    border: 1px solid $primary-gray-color-2;
}

a.dropdown-item:active {
    background-color: $primary-gray-color-2;
}

/*   from style.scss   */

a {
    font-weight: 700;
    color: #1f567d !important;
    text-decoration: none !important;
    cursor: pointer;
}

a:hover,
:focus,
:active {
    color: #000;
}

.project a {
    font-size: 1rem;
    font-weight: 400 !important;
}

.project a:hover {
    color: #8c8c8c !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.dropdown-item {
    font-size: 1rem;
    font-weight: 400 !important;
}

.dropdown-item:hover {
    color: #8c8c8c !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

footer a {
    font-size: 1rem;
    font-weight: 400 !important;
}

footer a:hover {
    color: #8c8c8c !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400 !important;
}

.nav-link:hover {
    color: #8c8c8c !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.project a {
    color: #343434 !important;
}

.dropdown-item {
    color: #343434 !important;
}

footer a {
    color: #343434 !important;
}

.project a:link {
    color: #343434 !important;
}

.dropdown-item:link {
    color: #343434 !important;
}

footer a:link {
    color: #343434 !important;
}

.project a:hover {
    color: #343434 !important;
}

.dropdown-item:hover {
    color: #343434 !important;
}

footer a:hover {
    color: #343434 !important;
}

.nav-link:hover {
    color: #343434 !important;
}

.project a:active {
    color: #343434 !important;
}

.dropdown-item:active {
    color: #343434 !important;
}

footer a:active {
    color: #343434 !important;
}

.nav-link:active {
    color: #343434 !important;
}

.project a:visited {
    color: #343434 !important;
}

.dropdown-item:visited {
    color: #343434 !important;
}

footer a:visited {
    color: #343434 !important;
}

.nav-link:visited {
    color: #343434 !important;
}

a.btn,
button.btn,
footer a.btn,
footer button.btn {
    display: inline-block;
    background-color: #1f567d;
    color: #fff !important;
    border-radius: 8px;
    letter-spacing: 0.03rem;
    font-weight: 400;
}

a.btn:link,
a.btn:hover,
a.btn:focus,
a.btn:visited,
a.btn:active,
a.btn .icon:hover,
a.btn :focus,
a.btn :active,
button.btn:link,
button.btn:hover,
button.btn:focus,
button.btn:visited,
button.btn:active,
button.btn .icon:hover,
button.btn :focus,
button.btn :active,
footer a.btn:link,
footer a.btn:hover,
footer a.btn:focus,
footer a.btn:visited,
footer a.btn:active,
footer a.btn .icon:hover,
footer a.btn :focus,
footer a.btn :active,
footer button.btn:link,
footer button.btn:hover,
footer button.btn:focus,
footer button.btn:visited,
footer button.btn:active,
footer button.btn .icon:hover,
footer button.btn :focus,
footer button.btn :active {
    color: #fff !important;
}

a.btn:hover,
a.btn:focus,
a.btn:active,
button.btn:hover,
button.btn:focus,
button.btn:active,
footer a.btn:hover,
footer a.btn:focus,
footer a.btn:active,
footer button.btn:hover,
footer button.btn:focus,
footer button.btn:active {
    background-color: #17405c !important;
}

a.btn--large,
button.btn--large,
footer a.btn--large,
footer button.btn--large {
    padding: 0.925rem;
    width: 100%;
    max-width: 30rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

a.btn--medium,
button.btn--medium,
footer a.btn--medium,
footer button.btn--medium {
    /* padding: 0.55rem 0.75rem; */
    font-size: 1rem;
    min-width: 11rem;
}

a.btn--small,
button.btn--small,
footer a.btn--small,
footer button.btn--small {
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
}

a.btn--filled,
button.btn--filled,
footer a.btn--filled,
footer button.btn--filled {
    color: #fff !important;
}

a.btn--hollow,
a.btn--transparent,
a.btn--action,
button.btn--hollow,
button.btn--transparent,
button.btn--action,
footer a.btn--hollow,
footer a.btn--transparent,
footer a.btn--action,
footer button.btn--hollow,
footer button.btn--transparent,
footer button.btn--action {
    background-color: transparent;
    color: #1f567d !important;
}

a.btn--hollow:link,
a.btn--hollow:hover,
a.btn--hollow:focus,
a.btn--hollow:visited,
a.btn--hollow:active,
a.btn--transparent:link,
a.btn--transparent:hover,
a.btn--transparent:focus,
a.btn--transparent:visited,
a.btn--transparent:active,
a.btn--action:link,
a.btn--action:hover,
a.btn--action:focus,
a.btn--action:visited,
a.btn--action:active,
button.btn--hollow:link,
button.btn--hollow:hover,
button.btn--hollow:focus,
button.btn--hollow:visited,
button.btn--hollow:active,
button.btn--transparent:link,
button.btn--transparent:hover,
button.btn--transparent:focus,
button.btn--transparent:visited,
button.btn--transparent:active,
button.btn--action:link,
button.btn--action:hover,
button.btn--action:focus,
button.btn--action:visited,
button.btn--action:active,
footer a.btn--hollow:link,
footer a.btn--hollow:hover,
footer a.btn--hollow:focus,
footer a.btn--hollow:visited,
footer a.btn--hollow:active,
footer a.btn--transparent:link,
footer a.btn--transparent:hover,
footer a.btn--transparent:focus,
footer a.btn--transparent:visited,
footer a.btn--transparent:active,
footer a.btn--action:link,
footer a.btn--action:hover,
footer a.btn--action:focus,
footer a.btn--action:visited,
footer a.btn--action:active,
footer button.btn--hollow:link,
footer button.btn--hollow:hover,
footer button.btn--hollow:focus,
footer button.btn--hollow:visited,
footer button.btn--hollow:active,
footer button.btn--transparent:link,
footer button.btn--transparent:hover,
footer button.btn--transparent:focus,
footer button.btn--transparent:visited,
footer button.btn--transparent:active,
footer button.btn--action:link,
footer button.btn--action:hover,
footer button.btn--action:focus,
footer button.btn--action:visited,
footer button.btn--action:active {
    color: #1f567d !important;
}

a.btn--hollow:hover,
a.btn--hollow:focus,
a.btn--hollow:active,
a.btn--transparent:hover,
a.btn--transparent:focus,
a.btn--transparent:active,
a.btn--action:hover,
a.btn--action:focus,
a.btn--action:active,
button.btn--hollow:hover,
button.btn--hollow:focus,
button.btn--hollow:active,
button.btn--transparent:hover,
button.btn--transparent:focus,
button.btn--transparent:active,
button.btn--action:hover,
button.btn--action:focus,
button.btn--action:active,
footer a.btn--hollow:hover,
footer a.btn--hollow:focus,
footer a.btn--hollow:active,
footer a.btn--transparent:hover,
footer a.btn--transparent:focus,
footer a.btn--transparent:active,
footer a.btn--action:hover,
footer a.btn--action:focus,
footer a.btn--action:active,
footer button.btn--hollow:hover,
footer button.btn--hollow:focus,
footer button.btn--hollow:active,
footer button.btn--transparent:hover,
footer button.btn--transparent:focus,
footer button.btn--transparent:active,
footer button.btn--action:hover,
footer button.btn--action:focus,
footer button.btn--action:active {
    background-color: #fff !important;
}

a.btn--hollow span.icon:hover,
a.btn--hollow :focus,
a.btn--hollow :active,
a.btn--transparent span.icon:hover,
a.btn--transparent :focus,
a.btn--transparent :active,
a.btn--action span.icon:hover,
a.btn--action :focus,
a.btn--action :active,
button.btn--hollow span.icon:hover,
button.btn--hollow :focus,
button.btn--hollow :active,
button.btn--transparent span.icon:hover,
button.btn--transparent :focus,
button.btn--transparent :active,
button.btn--action span.icon:hover,
button.btn--action :focus,
button.btn--action :active,
footer a.btn--hollow span.icon:hover,
footer a.btn--hollow :focus,
footer a.btn--hollow :active,
footer a.btn--transparent span.icon:hover,
footer a.btn--transparent :focus,
footer a.btn--transparent :active,
footer a.btn--action span.icon:hover,
footer a.btn--action :focus,
footer a.btn--action :active,
footer button.btn--hollow span.icon:hover,
footer button.btn--hollow :focus,
footer button.btn--hollow :active,
footer button.btn--transparent span.icon:hover,
footer button.btn--transparent :focus,
footer button.btn--transparent :active,
footer button.btn--action span.icon:hover,
footer button.btn--action :focus,
footer button.btn--action :active {
    color: #fff !important;
}

a.btn--hollow,
button.btn--hollow,
footer a.btn--hollow,
footer button.btn--hollow {
    border: 1px solid #1f567d;
}

a.btn--transparent,
button.btn--transparent,
footer a.btn--transparent,
footer button.btn--transparent {
    font-weight: 700;
}

a.btn--action,
button.btn--action,
footer a.btn--action,
footer button.btn--action {
    background-color: transparent;
    color: #343434;
    width: auto;
    padding: 0;
}

a.btn--action:link,
a.btn--action:visited,
button.btn--action:link,
button.btn--action:visited,
footer a.btn--action:link,
footer a.btn--action:visited,
footer button.btn--action:link,
footer button.btn--action:visited {
    color: #343434 !important;
}

a.btn--action:hover,
a.btn--action:focus,
a.btn--action:active,
button.btn--action:hover,
button.btn--action:focus,
button.btn--action:active,
footer a.btn--action:hover,
footer a.btn--action:focus,
footer a.btn--action:active,
footer button.btn--action:hover,
footer button.btn--action:focus,
footer button.btn--action:active {
    color: #8c8c8c !important;
}

a.btn--action:focus,
button.btn--action:focus,
footer a.btn--action:focus,
footer button.btn--action:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

a.btn--hollow.btn--action,
button.btn--hollow.btn--action,
footer a.btn--hollow.btn--action,
footer button.btn--hollow.btn--action {
    border-color: #1f567d;
    color: #1f567d !important;
    font-weight: 700 !important;
}

a.btn--load,
button.btn--load,
footer a.btn--load,
footer button.btn--load {
    font-weight: 700;
    background-color: transparent;
    color: #1f567d;
    width: auto;
    padding: 0;
}

a.btn--load:link,
a.btn--load:visited,
button.btn--load:link,
button.btn--load:visited,
footer a.btn--load:link,
footer a.btn--load:visited,
footer button.btn--load:link,
footer button.btn--load:visited {
    color: #1f567d !important;
    background-color: transparent !important;
}

a.btn--load:hover,
a.btn--load:focus,
a.btn--load:active,
button.btn--load:hover,
button.btn--load:focus,
button.btn--load:active,
footer a.btn--load:hover,
footer a.btn--load:focus,
footer a.btn--load:active,
footer button.btn--load:hover,
footer button.btn--load:focus,
footer button.btn--load:active {
    color: #17405c !important;
    background-color: transparent !important;
}

a.btn--disabled,
button.btn--disabled,
footer a.btn--disabled,
footer button.btn--disabled {
    background-color: #a8b5c0 !important;
}

a.btn--pending,
button.btn--pending,
footer a.btn--pending,
footer button.btn--pending {
    background-color: #ec9a29;
    color: #000;
}

a.btn--pending:hover,
a.btn--pending:focus,
a.btn--pending:active,
button.btn--pending:hover,
button.btn--pending:focus,
button.btn--pending:active,
footer a.btn--pending:hover,
footer a.btn--pending:focus,
footer a.btn--pending:active,
footer button.btn--pending:hover,
footer button.btn--pending:focus,
footer button.btn--pending:active {
    background-color: #d08012 !important;
}

a.btn--pending:focus,
button.btn--pending:focus,
footer a.btn--pending:focus,
footer button.btn--pending:focus {
    box-shadow: 0 0 0 0.25rem rgba(236, 154, 41, 0.25);
}

a.btn--success,
button.btn--success,
footer a.btn--success,
footer button.btn--success {
    background-color: #09bc8a;
    color: #000;
}

a.btn--success:hover,
a.btn--success:focus,
a.btn--success:active,
button.btn--success:hover,
button.btn--success:focus,
button.btn--success:active,
footer a.btn--success:hover,
footer a.btn--success:focus,
footer a.btn--success:active,
footer button.btn--success:hover,
footer button.btn--success:focus,
footer button.btn--success:active {
    background-color: #078b66 !important;
}

a.btn--success:focus,
button.btn--success:focus,
footer a.btn--success:focus,
footer button.btn--success:focus {
    box-shadow: 0 0 0 0.25rem rgba(9, 188, 138, 0.25);
}

a.btn--error,
button.btn--error,
footer a.btn--error,
footer button.btn--error {
    background-color: #9a031e;
    color: #fff;
}

a.btn--error:hover,
a.btn--error:focus,
a.btn--error:active,
button.btn--error:hover,
button.btn--error:focus,
button.btn--error:active,
footer a.btn--error:hover,
footer a.btn--error:focus,
footer a.btn--error:active,
footer button.btn--error:hover,
footer button.btn--error:focus,
footer button.btn--error:active {
    background-color: #680214 !important;
}

a.btn--error:focus,
button.btn--error:focus,
footer a.btn--error:focus,
footer button.btn--error:focus {
    box-shadow: 0 0 0 0.25rem rgba(154, 3, 30, 0.25);
}

a.btn .icon,
button.btn .icon,
footer a.btn .icon,
footer button.btn .icon {
    padding-right: 0.25rem;
}

a.btn--icon::before,
button.btn--icon::before,
footer a.btn--icon::before,
footer button.btn--icon::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0.15rem;
    left: -0.5rem;
}

a.btn.hidden,
button.btn.hidden,
footer a.btn.hidden,
footer button.btn.hidden {
    visibility: hidden;
}

ul.dropdown-menu {
    box-shadow: 0px 0px 16px rgba(31, 86, 125, 0.08);
    border: 1px solid #e3eaee;
}

a.dropdown-item:active {
    background-color: #e3eaee;
}
