<section
    class="w-90 h-100"
    [ngClass]="{
        'no-data':
            editor && (editor.drawflow.drawflow.Home.data | json) === '{}'
    }"
>
    <div id="drawflow" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
        <div class="gui__empty-text">
            <span> Drag and drop components to build your energy system </span>
            <span>DoubleClick: Opens form to enter parameters</span>
            <span>Middle Mousebutton: Mirror the selected block</span>
        </div>

        <div class="bar-zoom shadow rounded">
            <i class="full-screen" (click)="_toggleFullScreen()"></i>
            <i class="zoom-in" (click)="editor.zoom_in()"></i>
            <i class="zoom-reset" (click)="editor.zoom_reset()"></i>
            <i class="zoom-out" (click)="editor.zoom_out()"></i>
            <i
                class="delete-all"
                title="Delete All"
                (click)="clearGridModel()"
                *ngIf="
                    editor &&
                    (editor.drawflow.drawflow.Home.data | json) !== '{}'
                "
            ></i>
        </div>
    </div>
</section>

<div
    id="contextmenu"
    class="border border-2 rounded border-primary-subtle"
    style="display: none"
    #contextMenu
>
    <div class="list-group list-group-flush rounded">
        <a
            class="list-group-item list-group-item-action d-flex"
            (click)="showModalEdit()"
        >
            <i class="edit"></i>
            Edit
        </a>

        <a
            class="list-group-item list-group-item-action d-flex"
            *ngIf="contextmenu"
            (click)="deleteNode(contextmenu.id)"
        >
            <i class="trash"></i>
            Delete
        </a>
        <a
            class="list-group-item list-group-item-action d-flex"
            (click)="deleteConnection()"
        >
            <i class="trash"></i>
            Delete
        </a>
    </div>
</div>
