<section
    class="w-100 h-100"
    [ngClass]="{
        'no-data': (editor.drawflow.drawflow.Home.data | json) === '{}'
    }"
>
    <div
        id="drawflow"
        class="w-100 h-100"
        (drop)="onDrop($event)"
        (dragover)="allowDrop($event)"
    >
        <div class="gui__empty-text">
            <span> Drag and drop components to build your energy system </span>
            <span>DoubleClick: Opens form to enter parameters</span>
            <span>Middle Mousebutton: Mirror the selected block</span>
        </div>

        <div class="bar-zoom">
            <i class="full-screen" (click)="_toggleFullScreen()"></i>
            <i class="zoom-in" (click)="editor.zoom_in()"></i>
            <i class="zoom-reset" (click)="editor.zoom_reset()"></i>
            <i class="zoom-out" (click)="editor.zoom_out()"></i>
        </div>
    </div>
</section>

<app-modal
    *ngIf="modalVisibility"
    [title]="'New Flow'"
    (closeModal)="closeModal($event)"
>
    <div modal-form>
        <app-form [formData]="formData" #form />
    </div>

    <div modal-actions>
        <span
            class="text-danger"
            style="position: absolute; left: 0; padding-left: 3rem"
            *ngIf="formError.isShow"
        >
            {{ formError.msg }}
        </span>

        <button
            type="submit"
            class="btn btn--success btn--medium"
            (click)="submitFormData_Flow()"
        >
            Save
        </button>
    </div>
</app-modal>
