<section class="w-100 h-100">
    <div
        id="drawflow"
        class="w-100 h-100"
        (drop)="onDrop($event)"
        (dragover)="allowDrop($event)"
    >
        <div
            class="gui__empty-text"
            *ngIf="(editor.export().drawflow.Home.data | json) == '{}'"
        >
            <span> Drag and drop components to build your energy system </span>
            <br />
            <span>DoubleClick: Opens form to enter parameters</span><br />
            <span>Middle Mousebutton: Mirror the selected block</span>
        </div>

        <div class="bar-zoom">
            <i class="zoom-in" (click)="editor.zoom_in()"></i>
            <i class="zoom-reset" (click)="editor.zoom_reset()"></i>
            <i class="zoom-out" (click)="editor.zoom_out()"></i>
        </div>
    </div>
</section>

<app-modal
    *ngIf="modalVisibility"
    [title]="'New Flow'"
    (closeModal)="toggleModal(false)"
>
    <div modal-form>
        <app-form [formData]="formData" #form />
    </div>

    <div modal-actions>
        <span
            class="text-danger"
            style="position: absolute; left: 0; padding-left: 3rem"
            *ngIf="formError.isShow"
        >
            {{ formError.msg }}
        </span>

        <button
            type="submit"
            class="btn btn--success btn--medium"
            (click)="submitFormData()"
        >
            Save
        </button>
    </div>
</app-modal>
