.bar-zoom {
    position: absolute;
    top: 82%;
    right: 5%;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    gap: 0.5rem;

    .zoom-in {
        background-image: url("/static/assets/icons/feather/white/zoom-in.svg");
        width: 1em;
        height: 1em;
        cursor: pointer;
    }

    .zoom-out {
        background-image: url("/static/assets/icons/feather/white/zoom-out.svg");
        width: 1em;
        height: 1em;
        cursor: pointer;
    }

    .zoom-reset {
        background-image: url("/static/assets/icons/feather/white/refresh-ccw.svg");
        width: 1em;
        height: 1em;
        cursor: pointer;
    }

    .full-screen {
        background-image: url("/static/assets/icons/feather/white/maximize.svg");
        width: 1em;
        height: 1em;
        cursor: pointer;
    }
}

::ng-deep #contextmenu {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    min-width: 10rem;

    .zoom-in {
        background-image: url("/static/assets/icons/feather/white/zoom-in.svg");
        width: 1em;
        height: 1em;
        cursor: pointer;
    }
}

#drawflow {
    cursor: move;
    --d: 2px;
    background: radial-gradient(
            circle at var(--d) var(--d),
            #0000008c calc(var(--d) - 1px),
            #0000 var(--d)
        )
        0 0 / 50px 50px;

    ::ng-deep .gui__empty-text {
        display: none;
    }

    position: relative;
    width: 100%;
    height: 100%;
}

::ng-deep .gui__empty-text {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: center;
    // border: 1px solid;
    margin: 0 auto;
    top: 30%;
    position: relative;
    font-size: 1.75rem;
    background-color: #fff;
    padding: 3rem;
    gap: 1rem;

    span {
        color: #343434af;
        font-weight: 500;
    }
}

.no-data #drawflow {
    ::ng-deep .gui__empty-text {
        display: flex;
    }

    ::ng-deep .drawflow {
        display: none;
    }
}

::ng-deep #contextmenu i {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;

    &.edit {
        background-image: url("/static/assets/icons/feather/black/edit.svg");
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(53deg)
            brightness(118%) contrast(119%);
    }

    &.trash {
        background-image: url("/static/assets/icons/feather/black/trash.svg");
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(330deg)
            brightness(118%) contrast(119%);
    }
}

::ng-deep .drawflow .connection .main-path {
    stroke-dasharray: 5;
    animation: dashdraw 0.5s linear infinite;
}
@keyframes dashdraw {
    0% {
        stroke-dashoffset: 10;
    }
}
