<header class="py-2 border-bottom d-flex justify-content-between p-3">
    <div>
        <a [routerLink]="user.is_authenticated ? ['projects'] : ['']">
            <img
                class="bi me-2"
                style="height: 3rem"
                src="/static/assets/logos/ensys_logo_full.svg"
                alt="ensys_logo_full"
            />
        </a>
    </div>
    <div>
        <ng-container *ngIf="user.is_authenticated">
            <button
                type="button"
                class="btn btn-light text-dark me-2"
                (click)="logout()"
            >
                Log Out
            </button>
        </ng-container>

        <ng-container *ngIf="!user.is_authenticated">
            <div class="text-end">
                <button
                    type="button"
                    class="btn btn-light text-dark me-2"
                    [routerLink]="['auth/login']"
                >
                    Login
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    [routerLink]="['auth/signup']"
                >
                    Sign Up
                </button>
            </div>
        </ng-container>
    </div>
</header>
