<nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="display: none"
>
    <div class="container-fluid">
        <a
            class="navbar-brand"
            [routerLink]="user.is_authenticated ? ['projects'] : ['']"
        >
            <img
                src="/static/assets/logos/ensys_logo_full.svg"
                alt="ensys_logo_full"
            />
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0" style="align-items: center">
                <!-- user profile -->
                <ng-container *ngIf="user.is_authenticated">
                    <li class="nav-item dropdown profile">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <img
                                src="/static/assets/icons/i_profile.svg"
                                alt="Profile icon"
                            />
                        </a>

                        <!-- profile dropdown-menu -->
                        <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown"
                        >
                            <!-- <li>
                                <a class="dropdown-item" href="">
                                    Change Password
                                </a>
                            </li> -->

                            <!-- <li>
                                <a class="dropdown-item" href="license/"> - </a>
                            </li> -->

                            <li style="display: none">
                                <a class="dropdown-item" href="user_feedback">
                                    Feedback
                                </a>
                            </li>

                            <li style="display: none">
                                <a class="dropdown-item" href="user_info/">
                                    Account
                                </a>
                            </li>
                            <!-- account.html -->

                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="['projects']"
                                >
                                    Projects
                                </a>
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a class="dropdown-item" (click)="logout()">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>

                <ng-container *ngIf="!user.is_authenticated">
                    <li class="nav-item">
                        <a class="nav-link" href="auth/login"> Log In </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="btn btn--small"
                            href="auth/signup"
                            role="button"
                        >
                            Sign Up
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>

<header class="py-2 border-bottom" style="height: 8vh">
    <div class="container-fluid d-grid gap-3 align-items-center">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
            <a
                class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
                [routerLink]="user.is_authenticated ? ['projects'] : ['']"
            >
                <img
                    class="bi me-2"
                    style="height: 2rem"
                    src="/static/assets/logos/ensys_logo_full.svg"
                    alt="ensys_logo_full"
                />
            </a>

            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
                <ng-container *ngIf="!user.is_authenticated">
                    <li>
                        <a href="#" class="nav-link px-2 link-body-emphasis"
                            >Overview</a
                        >
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 link-body-emphasis"
                            >Inventory</a
                        >
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 link-body-emphasis"
                            >Customers</a
                        >
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 link-body-emphasis"
                            >Products</a
                        >
                    </li>
                </ng-container>
            </ul>

            <ng-container *ngIf="user.is_authenticated">
                <div class="dropdown text-end">
                    <a
                        href="#"
                        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <img
                            src="/static/assets/icons/i_profile.svg"
                            alt="mdo"
                            width="32"
                            height="32"
                            class="rounded-circle"
                        />
                    </a>

                    <ul class="dropdown-menu text-small">
                        <li style="display: none">
                            <a class="dropdown-item" href="user_feedback">
                                Feedback
                            </a>
                        </li>

                        <li style="display: none">
                            <a class="dropdown-item" href="user_info/">
                                Account
                            </a>
                        </li>
                        <!-- account.html -->

                        <li>
                            <a
                                class="dropdown-item"
                                [routerLink]="['projects']"
                            >
                                Projects
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item" (click)="logout()">
                                Log Out
                            </a>
                        </li>
                    </ul>
                </div>
            </ng-container>

            <ng-container *ngIf="!user.is_authenticated">
                <div class="text-end">
                    <button
                        type="button"
                        class="btn btn-light text-dark me-2"
                        [routerLink]="['auth/login']"
                    >
                        Login
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        [routerLink]="['auth/signup']"
                    >
                        Sign-up
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</header>
