<header
    class="py-2 px-3 border-bottom d-flex justify-content-between sticky-top bg-white"
>
    <!-- main icon + link to projects -->
    <a [routerLink]="user.is_authenticated ? ['projects'] : ['']">
        <img
            class="bi"
            style="height: 100%"
            src="/static/assets/logos/ensys_logo_full.svg"
            alt="ensys_logo_full"
        />
    </a>

    <!-- log[in-out] / user menu -->
    <div class="d-flex justify-content-between align-items-center h-100">
        <ng-container *ngIf="user.is_authenticated">
            <div
                ngbDropdown
                class="d-inline-block h-100"
                [placement]="'bottom-right'"
            >
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                >
                    {{ user.info?.firstname }} {{ user.info?.lastname }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <ng-container *ngFor="let item of navLinks">
                        <a
                            ngbDropdownItem
                            [href]="[item.href]"
                            [target]="item._blank ? '_blank' : null"
                        >
                            {{ item.title }}
                        </a>
                    </ng-container>

                    <div class="dropdown-divider"></div>
                    <button (click)="logout()" ngbDropdownItem>Log Out</button>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!user.is_authenticated">
            <div class="text-end d-flex gap-2 h-100">
                <button type="button" class="btn" [routerLink]="['auth/login']">
                    Login
                </button>

                <button
                    type="button"
                    class="btn btn--hollow"
                    [routerLink]="['auth/signup']"
                >
                    Sign Up
                </button>
            </div>
        </ng-container>
    </div>
</header>
