<section class="project d-flex p-2 mb-3">
    <button class="btn btn--medium" [routerLink]="['../create']">
        <img
            src="../../../../../static/assets/icons/feather/white/plus.svg"
            alt=""
            height="20px"
        />
        <span> Project</span>
    </button>
</section>

<app-project-item
    [project]="project"
    *ngFor="let project of template_list"
    (create_from_template)="create_from_template($event)"
/>

<section class="templates-empty" *ngIf="!template_list || !template_list.length">
    <div>
        <div class="templates-empty__img">
            <img
                src="./static/assets/illustrations/empty_folder.svg"
                alt="Empty folder"
            />
        </div>

        <div class="templates-empty__text">There are no projects yet</div>
    </div>
</section>

<section class="d-flex footer border-top fixed-bottom">
    <app-footer />
</section>
