main {
    height: 90vh;
}

::ng-deep .fullscreen {
    app-navbar,
    app-scenario-footer,
    app-scenario-progression {
        display: none;
    }

    .main-section {
        height: 100vh !important;
    }
}
