<section class="template d-flex p-2 mb-3 justify-content-center">
    <!-- to be filled with content -->
</section>

<ng-container *ngIf="templates$ | async as templates; else emptyState">
    <app-template-item
        *ngFor="let template of templates; trackBy: trackByTemplateId"
        [template]="template"
    />
</ng-container>

<ng-template #emptyState>
    <section class="templates-empty" role="status" aria-live="polite">
        <div>
            <div class="templates-empty__img">
                <img
                    src="static/assets/illustrations/empty_folder.svg"
                    alt="Empty folder"
                    width="160"
                    height="120"
                    loading="lazy"
                />
            </div>

            <div class="templates-empty__text">There are no templates yet</div>
        </div>
    </section>
</ng-template>
