<section class="h-100 icon_picker">
    <div class="h-100 p-3 d-flex flex-column">
        <div class="search">
            <input
                class="form-control"
                type="text"
                placeholder="Search icon..."
                [(ngModel)]="search"
            />
        </div>

        <div
            class="__list"
            *ngIf="modalStateService.modalState | async as modalState"
        >
            <div
                *ngFor="let group of filteredIcons | keyvalue: keepOrder"
                [ngClass]="{
                    disabled: group.key !== icon?.iconOrigin,
                }"
            >
                <div class="category-title mb-2">
                    {{ group.key }}
                </div>

                <div class="d-flex flex-wrap gap-2">
                    <div
                        class="item"
                        [ngClass]="{
                            selected:
                                (item.name === selectedIcon?.name || '') &&
                                (group.key === selectedIcon?.origin || ''),
                        }"
                        *ngFor="let item of group.value"
                        (click)="selectIcon(item, group.key)"
                    >
                        <div
                            class="img"
                            [ngClass]="[group.key, item.icon]"
                        ></div>

                        <span>{{ item.label }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
