<div
    class="d-flex"
    style="height: 100%; justify-content: space-between; flex-direction: column"
>
    <section class="hero section" id="hero">
        <div>
            <div
                class="hero__text d-flex align-items-center"
                style="padding-top: 0"
            >
                <div>
                    <h1>Model local energy system</h1>

                    <span>
                        Use the GUI to include sector-coupling and optimize the
                        energy system model subject to equality constraints
                    </span>
                </div>
            </div>

            <div
                class="hero__image d-flex align-items-center"
                style="padding-top: 0"
            >
                <img
                    src="/static/assets/illustrations/energy_system_gui.png"
                    alt="Energy system GUI"
                />
            </div>
        </div>
    </section>

    <section class="sponsors" style="height: 100%">
        <div class="wrapper" style="height: 100%">
            <img
                src="/static/assets/logos/logo-hsn.svg"
                alt="Hochschule Nordhausen"
            />

            <img
                src="/static/assets/logos/tmuenf-logo.png"
                alt="Thüringer Ministerium für Umwelt, Energie, Naturschutz und Forsten"
            />

            <img
                src="/static/assets/logos/zo.rro_zweii-logo.svg"
                alt="ZO.RRO ZWEI"
            />
        </div>
    </section>

    <section class="d-flex footer border-top">
        <app-footer />
    </section>
</div>
