<section class="h-100 w-10 shadow">
    <div
        class="h-100"
        style="display: flex; flex-direction: column; background-color: #f4f7f9"
    >
        <div class="components__content h-100">
            <div
                class="section section--{{ componet.group_name }}"
                *ngFor="let componet of components"
            >
                <!-- <div class="section__title">
                        <h6>
                            {{ componet.group_name | uppercase }}
                        </h6>
                    </div> -->

                <ng-container
                    *ngFor="let component of componet.group_components"
                >
                    <app-energy-drag-items
                        [id]="component.id"
                        [name]="component.name"
                        [group]="componet.group_name"
                        (touchEnd)="_touchEnd($event)"
                    />
                </ng-container>
                <!-- {% for component_id, component_name in
            group_components.items %} {% include
            'scenario/topology_drag_items.html' with
            name=component_name 
            alt=component_name|add:"icon"
            image=component_id|add:".svg" 
            data_node=component_id %}
            {% endfor %} -->
            </div>
        </div>
    </div>
</section>
