<app-modal
    *ngIf="modalInfo"
    [title]="modalInfo.title"
    (closeModal)="closeModal(false)"
    [show]="modalInfo.show"
>
    <div class="node-info" modal-header-center-icon>
        <button
            title="Info"
            (click)="openInfoUrl(modalInfo.url)"
            class="btn btn--info btn--icon"
            role="button"
        ></button>
    </div>

    <div modal-form>
        <app-form
            #form
            [formData]="modalInfo.formData"
            (onSubmit)="submitForm()"
        />

        <!-- ports -->
        <!-- transformer -->
        <div
            class="row mb-3"
            *ngIf="
                modalInfo.data &&
                modalInfo.node &&
                modalInfo.node.data.type === 'transformer'
            "
        >
            <div class="col-6">
                <app-order-list
                    label="Inputs"
                    [data]="modalInfo.data.ports.inputs"
                    [acceptDuplicate]="false"
                    [fields]="['name', 'timeSeries']"
                    [editable]="modalInfo.data.ports?.editable"
                    [options]="{
                        id: 'inputs',
                        group: 'transformer',
                    }"
                    (showModal_TimeSeries)="showModal_TimeSeries($event)"
                    #transform_inputs
                />
            </div>

            <div class="col-6">
                <app-order-list
                    label="Outputs"
                    [data]="modalInfo.data.ports.outputs"
                    [acceptDuplicate]="false"
                    [fields]="['name', 'timeSeries']"
                    [editable]="modalInfo.data.ports?.editable"
                    [options]="{
                        id: 'outputs',
                        group: 'transformer',
                    }"
                    (showModal_TimeSeries)="showModal_TimeSeries($event)"
                    #transform_outputs
                />
            </div>
        </div>
    </div>
    <!-- Add other elements like order lists for transformer -->

    <p class="text-danger" modal-msg *ngIf="formError.isShow">
        {{ formError.msg }}
    </p>

    <div
        class="actions"
        actions
        modal-actions
        *ngIf="modalInfo.formData !== null; else empty_form_actions"
    >
        <button
            class="btn btn--info btn--medium btn-left"
            *ngIf="
                modalInfo.connection_singleInOut &&
                modalInfo.connection_singleInOut.in
            "
            (click)="openFlow(modalInfo.connection_singleInOut.in)"
            style="justify-self: start; grid-column: 1"
        >
            Edit Flow--In
        </button>

        <button
            class="btn btn--success btn--medium btn-middle"
            (click)="submitForm()"
        >
            Submit
        </button>

        <button
            class="btn btn--info btn--medium btn-right"
            *ngIf="
                modalInfo.connection_singleInOut &&
                modalInfo.connection_singleInOut.out
            "
            (click)="openFlow(modalInfo.connection_singleInOut.out)"
        >
            Edit Flow--Out
        </button>
    </div>

    <ng-template #empty_form_actions>
        <button
            type="button"
            class="btn btn--primary btn--medium"
            (click)="closeModal(false)"
        >
            <span>Close</span>
        </button>
    </ng-template>
</app-modal>
