.node-info {
    display: flex;
    align-items: center;

    button {
        background: url("/static/assets/icons/feather/black/info.svg") no-repeat
            center / contain;
        width: 1.5rem;
        height: 1.5rem;
        border: unset;
        display: flex;
        filter: invert(84%) sepia(47%) saturate(195%) hue-rotate(142deg)
            brightness(95%) contrast(96%);
        padding: 0;
    }
}

.actions {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .btn-left {
        grid-column: 1;
        justify-self: start;
    }

    .btn-middle {
        grid-column: 2;
        justify-self: center;
    }

    .btn-right {
        grid-column: 3;
        justify-self: end;
    }
}
