<section class="project" id="project-{{ project.id }}">
    <div class="project-item">
        <div class="project__top">
            <a>
                <h2 class="name">{{ project.name }}</h2>
            </a>

            <a class="location">
                <span class="icon-pin" aria-hidden="true"></span>
                {{ project.country }}
            </a>
        </div>

        <div class="project__details">
            <div class="details">
                <div class="detail">
                    <span class="detail__property">Created</span>

                    <span class="detail__value">
                        {{ project.date_created || "{not defined}" | date }}
                    </span>
                </div>
            </div>

            <div class="actions">
                <a
                    class="btn btn--action action"
                    [routerLink]="['../update/', project.id]"
                    fragment="update"
                >
                    <span class="icon icon-edit" aria-hidden="true"></span>
                </a>

                <button
                    id="duplicate_{{ project.id }}"
                    style="margin-top: 0.25rem"
                    class="btn btn--action action"
                    type="button"
                    value="Delete"
                    (click)="duplicate_modal(project.id)"
                >
                    <span class="icon icon-duplicate" aria-hidden="true"></span>
                </button>

                <button
                    id="delete_{{ project.id }}"
                    style="margin-top: 0.25rem"
                    class="btn btn--action action"
                    type="button"
                    value="Delete"
                    (click)="delete_modal(project.id)"
                >
                    <span class="icon icon-delete" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="project__scenarios">
            <div class="toggle d-flex gap-2">
                <button
                    class="btn btn--action border p-2"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#scenario_list_' + project.id"
                    aria-expanded="false"
                    [attr.aria-controls]="'scenario_list_' + project.id"
                    *ngIf="project.scenarioList && project.scenarioList.length"
                >
                    <span
                        class="icon-i_arrow_down icon icon--small js-toggle-scenario-icon"
                        aria-hidden="true"
                    >
                    </span>

                    <span class="js-toggle-scenario-name">Show scenarios</span>
                </button>

                <button
                    class="btn btn--success action border p-2"
                    type="button"
                    (click)="newScenario(+project.id, project.name)"
                >
                    New Scenario
                </button>
            </div>

            <div
                class="collapse row"
                [id]="'scenario_list_' + project.id"
                *ngIf="project.scenarioList && project.scenarioList.length > 0"
            >
                <div class="card card-body scenario_list col-4">
                    <ul class="list-group border">
                        <li
                            class="list-group-item scenario_item"
                            *ngFor="let scenario of project.scenarioList"
                        >
                            <app-project-scenario-item
                                [project]="project"
                                [scenario]="scenario"
                                (deleteScenario)="deleteScenario($event)"
                                (duplicateScenario)="duplicateScenario($event)"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
