/* You can add global styles to this file, and also import other style files */

@use "static/scss/main.scss" as *;
@use "static/scss/abstracts/mixins" as *;

@import "handsontable/styles/handsontable.min.css";
@import "handsontable/styles/ht-theme-main.min.css";

html,
body {
    height: 100%;
    overflow: hidden;
}

.sponsors img {
    max-height: 7rem;
}

.sponsors > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sponsors > .wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback {
    max-width: 90rem;
    position: absolute;
}

.help {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extended_header {
    margin-top: 6.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    max-width: 90rem;
    z-index: 1;
    width: 100%;
}

span,
label,
h1,
h2,
h3,
h4,
h5,
h6,
img,
div {
    @include user-select-none;
}

/*  ============================ custom styles ============================     */
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

button :disabled,
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    opacity: 20% !important;
    background-color: gray;
    color: black !important;
}
