.system-design-error .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.system-design-error .system-design-error__img {
    width: 5rem;
}

.system-design-error .system-design-error__message {
    padding-top: 2rem;
}

.system-design-error .system-design-error__log {
    list-style: none;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.system-design-error .system-design-error__log li {
    position: relative;
    color: #9a031e;
    padding-bottom: 0.5rem;
}

.system-design-error .system-design-error__log li span {
    font-weight: 700;
}

.system-design-error .system-design-error__log li::before {
    font-family: "icomoon";
    content: "\e906";
    position: absolute;
    display: inline-block;
    left: -1.5rem;
}

.system-design {
    .components {
        width: 22rem;
        background-color: #f4f7f9;
        border-right: 2px solid #f4f7f9;
        overflow-y: auto;
    }
}

.system-design {
    display: flex;
    flex-direction: row;
}

.system-design .components__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.85rem;
    background-color: #fff;
    padding: 1rem;
}

.system-design .components__title h2 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #343434;
    font-weight: 700;
    display: inline-block;
}

.system-design .components__content {
    padding: 1rem 1rem 0;
}

.system-design .components__content .section {
    padding-bottom: 1rem;
}

.system-design .components__content .section__title h3 {
    font-size: 1rem;
}

.system-design .components__content .section__component {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(31, 86, 125, 0.08);
    background-color: #fff;
    border-left: 4px solid #a4adfb;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

.system-design .components__content .section .img {
    height: 2rem;
    width: 2rem;
}

.system-design .components__content .section .name {
    font-size: 1rem;
    font-weight: 300;
    color: #343434;
    padding: 0 0.5rem 0 0.5rem;
}

.system-design .components__content .section .drag {
    flex: 1;
    text-align: right;
}

.system-design .components__content .section--providers .section__component {
    border-left-color: #a4adfb;
}

.system-design {
    .gui {
        position: relative;
        flex: 1;
        height: 100%;
    }
}

.system-design .gui__clear {
    display: flex;
    z-index: 99;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #fff;
}

.system-design .gui__clear .form-select {
    font-size: 0.875rem;
}

.system-design .gui__clear button.btn {
    padding-left: 0;
    padding-right: 0;
}

.system-design .gui__save {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.system-design .gui #js-designSaved {
    display: none;
    color: #09bc8a;
    font-weight: 700;
}

.system-design .gui #js-designSaved.display {
    display: block;
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
        both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.system-design .gui #js-saveDesign.hidden {
    display: none;
}

.node-info {
    margin-left: auto;

    button {
        background: url("/static/assets/icons/feather/black/info.svg") no-repeat
            center / contain;
        width: 2rem;
        height: 2rem;
        border: unset;
        display: flex;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(171deg)
            brightness(118%) contrast(119%);
        padding: 0;
    }
}
