<div class="system-design">
    <app-energy-components
        [components]="components"
        (clearGridModel)="clearGridModel()"
        (touchEnd)="touchEnd($event)"
    />

    <app-energy-drawflow
        class="w-100 h-100 border"
        (showNodeFormModal)="showNodeFormModal($event)"
        (toggleFullScreen)="toggleFullScreen()"
    />
</div>

<app-modal
    *ngIf="modalVisibility"
    [title]="currentNode.name"
    (closeModal)="toggleModal(false)"
>
    <div modal-form>
        <app-form [formData]="formData" #form />
    </div>

    <div modal-actions>
        <span
            class="text-danger"
            style="position: absolute; left: 0; padding-left: 3rem"
            *ngIf="formError.isShow"
        >
            {{ formError.msg }}
        </span>

        <button
            type="submit"
            class="btn btn--success btn--medium"
            (click)="submitFormData()"
        >
            <span *ngIf="!editMode">Save</span>
            <span *ngIf="editMode">Update</span>
        </button>
    </div>
</app-modal>
