<div class="system-design">
    <app-energy-components *ngIf="!isFullscreen" />

    <app-energy-drawflow
        class="w-100 h-100"
        (toggleFullScreen)="toggleFullScreen()"
    />
</div>

<ng-container *ngIf="modalStateService.modalState | async as modalState">
    <app-node-form-modal
        [modalInfo]="modalState.nodeForm"
        (formSubmitted)="onNodeFormSubmitted($event)"
        (modalClosed)="onNodeFormClosed($event)"
        (makeNode)="makeNode($event.formValue, $event.formModalInfo)"
        (updateNode)="updateNode($event.data, $event.nodeId, $event.nodeType)"
        (onShowModal_TimeSeries)="onShowModal_TimeSeries($event)"
    />

    <app-flow-form-modal
        [modalInfo]="modalState.flowForm"
        (saveConnectionInNode)="flow_updateConnectionInNode($event)"
        (modalClosed)="onFlowFormClosed($event)"
        (onShowModal_EpCostsCalculator)="onCalculatorOpened($event)"
        (onShowModal_TimeSeries)="onShowModal_TimeSeries($event)"
    />

    <app-calculator-modal
        [modalInfo]="modalState.calculator"
        (formSubmitted)="onCalculateEpCosts($event)"
        (modalClosed)="onCalculatorClosed()"
    />

    <app-time-series-modal
        [modalInfo]="modalState.timeSeries"
        (dataSubmitted)="onTimeSeriesSubmitted($event)"
        (modalClosed)="onTimeSeriesClosed()"
    />

    <app-simulation-modal
        [modalInfo]="modalState.simulation"
        (modalClosed)="onSimulationClosed()"
    />
</ng-container>
