<section class="project" id="template-{{ template.id }}">
    <div class="project-item">
        <div class="project__top">
            <a>
                <h2 class="name">{{ template.name }}</h2>
            </a>

            <a class="location">
                <span class="icon-pin" aria-hidden="true"></span>
                {{ template.country }}
            </a>
        </div>

        <div class="actions">
        </div>

        <div class="project__scenarios">
            <div class="toggle d-flex gap-2">
                <button
                    class="btn btn--action border p-2"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#scenario_list_' + template.id"
                    aria-expanded="false"
                    [attr.aria-controls]="'scenario_list_' + template.id"
                    *ngIf="template.scenarioList && template.scenarioList.length"
                >
                    <span
                        class="icon-i_arrow_down icon icon--small js-toggle-scenario-icon"
                        aria-hidden="true"
                    >
                    </span>

                    <span class="js-toggle-scenario-name">Show scenarios</span>
                </button>
            </div>

            <div
                class="collapse row"
                [id]="'scenario_list_' + template.id"
                *ngIf="template.scenarioList && template.scenarioList.length > 0"
            >
                <div class="card card-body scenario_list col-4">
                    <ul class="list-group border">
                        <li
                            class="list-group-item scenario_item"
                            *ngFor="let scenario of template.scenarioList"
                        >
                            <app-template-scenario-item
                                [template]="template"
                                [scenario]="scenario"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
