<footer class="">
    <div>
        <div class="footer__logo"></div>

        <div class="footer__links">
            <ul>
                <li>
                    <a href="about">About</a>
                </li>

                <li>
                    <a
                        href="https://in-ret.github.io/ensys-gui-new/"
                        target="_blank"
                        rel="noreferrer"
                    >
                        Documentation
                    </a>
                </li>

                <li>
                    <a
                        href="https://github.com/in-RET/ensys-gui-new/"
                        target="_blank"
                        rel="noreferrer"
                    >
                        Github
                    </a>
                </li>

<!--                <li>-->
<!--                    <a href="usecase/search/">Use Cases</a>-->
<!--                </li>-->

                <li><a href="license">License</a></li>

                <li><a href="imprint">Imprint</a></li>

                <li><a href="privacy">Privacy</a></li>
            </ul>
        </div>
    </div>
</footer>
