<footer
    class="footer py-2 px-3 border-top d-flex sticky-bottom"
    *ngIf="!user.is_authenticated"
>
    <div class="d-flex justify-content-center gap-3">
        <a href="about">About</a>
        <a
            href="https://in-ret.github.io/ensys-gui-new/"
            target="_blank"
            rel="noreferrer"
        >
            Documentation
        </a>
        <a
            href="https://github.com/in-RET/ensys-gui-new/"
            target="_blank"
            rel="noreferrer"
        >
            Github
        </a>
        <a href="license">License</a>
        <a href="imprint">Imprint</a>
        <a href="privacy">Privacy</a>
    </div>
</footer>
