<section
    class="wizard border shadow p-3 bg-body-tertiary rounded"
    style="height: 2rem"
>
    <div>
        <div class="wizard__steps">
            <ul>
                <li
                    *ngFor="let step of steps; let i = index"
                    [ngClass]="{ active: i == currentStep }"
                >
                    {{ step }}
                    <span *ngIf="currentScenario && currentStep == 1 && i == 1">
                        (
                        <b class="fw-lighter">
                            {{ currentScenario.project.name }}
                        </b>
                        /
                        <b class="fw-lighter">
                            {{ currentScenario.scenario.name }}
                        </b>
                        )
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
