<ng-container *ngIf="form && formVisible">
    <form
        class="row"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        (keydown.enter)="onSubmit()"
    >
        <div
            [ngClass]="section.class"
            *ngFor="let section of formData.sections"
        >
            <h5>{{ section.name }}</h5>

            <div class="row">
                <div
                    [ngClass]="field.span ? 'col-md-' + field.span : 'col-md'"
                    *ngFor="let field of section.fields"
                >
                    <!-- text / number -->
                    <div
                        class="form-floating mb-3"
                        *ngIf="field.type == 'text' || field.type == 'number'"
                    >
                        <input
                            [type]="field.type"
                            class="form-control"
                            [placeholder]="field.placeholder"
                            [required]="field.isReq"
                            [formControlName]="field.name"
                            [ngClass]="{
                                'is-invalid':
                                    form.get(field.name)!.invalid &&
                                    (form.get(field.name)!.dirty ||
                                        form.get(field.name)!.touched)
                            }"
                        />
                        <label *ngIf="!field.isReq">{{ field.label }} </label>
                        <label *ngIf="field.isReq">{{ field.label }} *</label>
                    </div>

                    <!-- dropdown -->
                    <div class="form-floating" *ngIf="field.type == 'select'">
                        <select
                            class="form-select"
                            id="floatingSelect"
                            [formControlName]="field.name"
                            [ngClass]="{
                                'is-invalid':
                                    form.get(field.name)!.invalid &&
                                    (form.get(field.name)!.dirty ||
                                        form.get(field.name)!.touched)
                            }"
                        >
                            <option selected disabled value="null">
                                {{ field.label }}
                            </option>
                            <option
                                [value]="option.value"
                                *ngFor="let option of field.options"
                            >
                                {{ option.name }}
                            </option>
                        </select>

                        <label for="floatingSelect">{{
                            field.placeholder
                        }}</label>
                    </div>

                    <!-- checkbox -->
                    <div class="form-check" *ngIf="field.type == 'check'">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            [formControlName]="field.name"
                            id="checkDefault"
                            (click)="field.onClick()"
                        />
                        <label
                            class="form-check-label"
                            for="checkDefault"
                            style="user-select: none"
                        >
                            {{ field.label }}
                        </label>
                    </div>

                    <!-- switcher -->
                    <div class="" *ngIf="field.type == 'switch'">
                        <div class="form-check form-switch">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                [formControlName]="field.name"
                                (change)="field.onClick()"
                            />
                            <label for=""> {{ field.label }} </label>
                        </div>
                    </div>

                    <!-- uploader -->
                    <div *ngIf="field.type == 'file-upload'">
                        <app-file-uploader />
                    </div>

                    <!-- uploader -->
                    <div *ngIf="field.type == 'range'" class="card mb-3">
                        <div class="card-body range-component">
                            <label
                                class="card-title text-center"
                                *ngIf="!field.isReq"
                                >{{ field.label | uppercase }}
                            </label>
                            <label
                                class="card-title text-center"
                                *ngIf="field.isReq"
                                >{{ field.label | uppercase }} *</label
                            >
                            <app-file-uploader
                                (fileUploaderChange)="
                                    fileUploaderChange($event, field.name)
                                "
                            />

                            <input
                                type="tel"
                                class="form-control"
                                placeholder="value"
                                [required]="field.isReq"
                                [formControlName]="field.name"
                                [ngClass]="{
                                    'is-invalid':
                                        form.get(field.name)!.invalid &&
                                        (form.get(field.name)!.dirty ||
                                            form.get(field.name)!.touched)
                                }"
                            />
                        </div>
                    </div>
                    <!-- uploader -->
                </div>
            </div>
        </div>
    </form>
</ng-container>
