<ng-container
    *ngIf="scenarioStateService.userModelingState | async as userModelingState"
>
    <footer class="step-footer p-1" style="z-index: 1">
        <div class="d-flex w-100 justify-content-between">
            <button
                class="btn btn--medium btn--hollow btn--previous"
                (click)="previous()"
                *ngIf="
                    userModelingState.currentStep ==
                    UserModelingSTEP.SCENARIO_MODELING
                "
            >
                Scenario Setup
            </button>

            <ng-container
                *ngIf="
                    scenarioStateService.scenarioState | async as scenarioData
                "
            >
                <div class="position-relative w-100 d-flex align-items-center">
                    <!-- <button
                        class="btn btn--medium btn--success"
                        (click)="onStartSimulation()"
                        *ngIf="
                            userModelingState.currentStep ==
                            UserModelingSTEP.SCENARIO_MODELING
                        "
                    >
                        <img
                            src="/static/assets/icons/feather/black/play.svg"
                            alt="start"
                            title="start simulation"
                        />
                    </button>

                    <button
                        class="btn btn--medium btn--transparent"
                        *ngIf="
                            userModelingState.currentStep ==
                            UserModelingSTEP.SCENARIO_MODELING
                        "
                        (click)="update()"
                    >
                        Update
                    </button> -->

                    <button
                        class="btn btn--medium position-absolute start-50 translate-middle-x"
                        *ngIf="scenarioData && !scenarioData.scenario"
                        (click)="onSaveScenario()"
                    >
                        Save
                    </button>

                    <button
                        class="btn btn--medium position-absolute start-50 translate-middle-x"
                        *ngIf="
                            scenarioData &&
                            scenarioData.scenario &&
                            scenarioData.scenario.id
                        "
                        (click)="onUpdateScenario()"
                    >
                        Update
                    </button>

                    <button
                        class="btn btn--medium ms-auto"
                        *ngIf="
                            userModelingState.currentStep ==
                            UserModelingSTEP.SCENARIO_SETUP
                        "
                        (click)="next()"
                    >
                        Design Model
                    </button>
                </div>
            </ng-container>

            <ng-container
                *ngIf="
                    userModelingState.currentStep ==
                    UserModelingSTEP.SCENARIO_MODELING
                "
            >
                <a
                    class="btn btn--medium btn--transparent"
                    [ngClass]="{ disabled: true }"
                    (click)="onOpenSimulations()"
                >
                    Simulation(s)
                </a>
            </ng-container>
        </div>
    </footer>
</ng-container>
